.lightClock-body {
  background-color: #fbeabf;
  height: 700px;
}

.lightClock-container {
    display: flex;
    justify-content: space-around; 
    gap: 20px;
    align-items: flex-start;
  }
  
  .light-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
  }
  
  .light-row {
    display: flex;
    gap: 30px;
  }
  
  .light {
    width: 20px;
    height: 20px;
  }
  
  .light img {
    width: 60px;
    height: 60px;
    padding: 15px;
  }