<div class="clock-background">
<div class="liquid-clock-container">

    <!-- Envase de las horas -->

   <div class="liquid-wrapper"></div>
    <div class="liquid-text">Horas</div>
    <div class="liquid-form">
      <div class="liquid" [ngStyle]="{'height': horas + '%', 'background-color': 'red'}"></div>
      <div class="form-label"></div>
    </div>
  
    <!-- Envase de los minutos -->

    <div class="liquid-wrapper"></div>
    <div class="liquid-text">Minutos</div>
    <div class="liquid-form">
      <div class="liquid" [ngStyle]="{'height': minutos + '%', 'background-color': 'orange'}"></div>
      <div class="form-label"></div>
    </div>
  
    <!-- Envase de los segundos -->

     <div class="liquid-wrapper"></div>
    <div class="liquid-text">Segundos</div>
    <div class="liquid-form">
      <div class="liquid" [ngStyle]="{'height': segundos + '%', 'background-color': 'yellow'}"></div>
      <div class="form-label"></div>
    </div>
  </div>
</div>