<div class="lightClock-body">
<div class="lightClock-container">

    <!-- Bombillas de horas -->
    <div class="light-column">
      <div class="light-row" *ngFor="let row of [0, 1, 2, 3]">
        <div *ngFor="let col of [0, 1, 2, 3, 4, 5]" class="light">
          <img *ngIf="horas[row * 6 + col]" src="img/bombilla01.png" />
          <img *ngIf="!horas[row * 6 + col]" src="img/bombilla02.png" />
        </div>
      </div>
    </div>
  
    <!-- Bombillas de minutos -->
    <div class="light-column">
      <div class="light-row" *ngFor="let row of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
        <div *ngFor="let col of [0, 1, 2, 3, 4, 5]" class="light">
          <img *ngIf="minutos[row * 6 + col]" src="img/bombilla01.png" />
          <img *ngIf="!minutos[row * 6 + col]" src="img/bombilla02.png" />
        </div>
      </div>
    </div>
  
    <!-- Bombillas de segundos -->
    <div class="light-column">
      <div class="light-row" *ngFor="let row of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
        <div *ngFor="let col of [0, 1, 2, 3, 4, 5]" class="light">
          <img *ngIf="segundos[row * 6 + col]" src="img/bombilla01.png" />
          <img *ngIf="!segundos[row * 6 + col]" src="img/bombilla02.png" />
        </div>
      </div>
    </div>
  </div>
</div>
