.clock-body {

  background-color: #a5a6ff;
  height: 600px;
}

.chameleon-clock-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.time-container {
  text-align: center;
}

img {
  width: 300px;
  height: auto;
  margin-top: 10px;
  border: 20px solid #f3f3f3;
}