.circle-background {
  background-color: #2c2c2c;
  height: 1000px;
}

.circle-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px;
  padding: 80px;
  gap: 30px;
  margin-top: 0;

}

.progress-circle {
  width: 200px;
  height: 200px;
}

.background {
  fill: none;
  stroke: #444;
  stroke-width: 3.8;
  
}

.foreground {
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: round;
  animation: progress-animation 1s ease-out forwards;
}

.second {
  stroke: #ebfa1e;
}

.minute {
  stroke: #1188ff;
}

.hour {
  stroke: #fc613f;
}

.circle-text {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin: 10px;
  color: white
}