<div class="circle-background">
<div class="circle-container">
  
  <!-- Barra de segundos -->
  <div class="circle-wrapper"> 
  <div class="circle-text">Segundos</div>
  <svg class="progress-circle" viewBox="0 0 36 36">
    <circle class="background" cx="18" cy="18" r="15.9155" />
    <circle class="foreground second" cx="18" cy="18" r="15.9155" [attr.stroke-dasharray]="100" [attr.stroke-dashoffset]="100 - segundos" />
  </svg>

  <!-- Barra de minutos -->
  <div class="circle-wrapper"> 
  <div class="circle-text">Minutos</div>
  <svg class="progress-circle" viewBox="0 0 36 36">
    <circle class="background" cx="18" cy="18" r="15.9155" />
    <circle class="foreground minute" cx="18" cy="18" r="15.9155" [attr.stroke-dasharray]="100" [attr.stroke-dashoffset]="100 - minutos" />
  </svg>
  
  <!-- Barra de horas -->
  <div class="circle-wrapper"> 
  <div class="circle-text">Horas</div>
  <svg class="progress-circle" viewBox="0 0 36 36">
    <circle class="background" cx="18" cy="18" r="15.9155" />
    <circle class="foreground hour" cx="18" cy="18" r="15.9155" [attr.stroke-dasharray]="100" [attr.stroke-dashoffset]="100 - horas" />
  </svg>
</div>
</div>